<%- layout("/layouts/boilerplate.ejs") %>

<body>
    <section class="progpag">
        <div class="progbox">
            <div class="progtext">
                <h1>Learn, Grow, and Get Hired – A 6-Month Training Program!</h1>
            </div>
            <div class="progimg">

            </div>
        </div>
    </section>
</body>