<footer class="footer-container">
    <div class="footer-top">
        <h2>Ready to get started?</h2>
        <button class="contact-btn "><a href="contact.html">Contact Us</a></button>
    </div>

    <div class="footer-content">
        <div class="footer-section">
            <div class="brand-logo">
                <img src="/images/logob-removebg-preview.png" alt="Brand Logo">
                <span>IBMFROX</span>
            </div>
            <div class="social-icons">
                <a href="https://www.youtube.com/@Zeek.Ster_"><i class="fa-brands fa-youtube"></i></a>
                <a href="https://www.instagram.com/webnova_2.o?igsh=ODUxdXN6cWxqZGQ0"><i class="fa fa-instagram"></i></a>
               <a href="https://www.linkedin.com/in/rahul-chaursiya-322723283/"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>

        <div class="footer-section">
            <h3>Company</h3>
            <ul>
                <li><a href="/frox/about">About</a></li>
                <li><a href="/frox/contact">Contact</a></li>
                <li><a href="/frox/services">Our Service</a></li>
                <li><a href="">Team</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h3>Designs</h3>
            <ul>
                <li><a href="">Website Development</a></li>
                <li><a href="">UI/UX Design</a></li>
                <li><a href="">Web App Development</a></li>
                <li><a href="">Pricing Plans</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h3>Resources</h3>
            <ul>
                <li><a href="">Become a Partner</a></li>
                <li><a href="/webnova/blogs">Blog</a></li>
                <li><a href="">Tech Stack</a></li>
                <li><a href="">Case Studies</a></li>
                <li><a href="">Affiliates</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        All rights reserved 2029
    </div>
</footer>