<section class="header">
    <nav class="navbar">
        <a href="/"><img src="/images/logob-removebg-preview.png" alt=""></a>
        <div class="navlist" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/Program">Program</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/services">Service</a></li>
                <li><a href="/projects">Project</a></li>
                <li><a href="/blogs">Blog</a></li>
            </ul>
        </div>
        <button type="button" class="btn btn-sm"><a href="/contact">Contact Us</a></button>
        <i class="fa fa-bars fas" onclick="showMenu()"></i>
    </nav>
</section>