<section class="header">
    <nav class="navbar">
        <a href="/frox"><img src="/images/logob-removebg-preview.png" alt=""></a>
        <div class="navlist" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="/frox">Home</a></li>
                <li><a href="/frox/Program">Program</a></li>
                <li><a href="/frox/about">About Us</a></li>
                <li><a href="/frox/services">Service</a></li>
                <li><a href="/frox/projects">Project</a></li>
                <li><a href="/frox/blogs">Blog</a></li>
            </ul>
        </div>
        <button type="button" class="btn btn-sm"><a href="/frox/contact">Contact Us</a></button>
        <i class="fa fa-bars fas" onclick="showMenu()"></i>
    </nav>
</section>