<%- layout("/layouts/boilerplate.ejs") %>

    <body>
        <section class="progpag">
            <div class="progbox container">
                <div class="progtext">
                    <h1>Learn & Get Hired – No Experience Needed!</h1>
                    <p>No experience? No problem! If you're eager to learn, we’ll make you industry-ready!</p>
                    <div class="apply ">
                        <form action="/frox/students" method="get">
                            <input class="btn btn-succes" id="applybtn" type="submit" value="apply now">
                        </form>
                    </div>
                </div>
                <div class="progimg">
                    <img src="/images/programmhead.jpeg" alt="">
                </div>
            </div>
        </section>
    </body>