<%- layout("/layouts/boilerplate.ejs") %>

    <body>
        <section class="progpag">
            <div class="progbox container">
                <div class="progtext">
                    <h1>Learn & Get Hired – No Experience Needed!</h1>
                    <p>No experience? No problem! If you're eager to learn, we’ll make you industry-ready!</p>
                    <div class="apply">
                        <form action="/students" method="get">
                            <input class="btn btn-succes" id="applybtn" type="submit" value="apply now">
                        </form>
                    </div>
                </div>
                <div class="progimg">
                    <img src="/images/programmhead1.png" alt="">
                </div>
            </div>
        </section>
        <section class="program-info">
            <div class="program-left">
              <h2>BIMFROX's first SkillUp <br><span>Program in Web Development & AI</span></h2>
              <div class="apply-box">
                <p>Join the BIMFROX SkillUp Program – May 2025 Cohort</p>
                <a href="#" class="apply-btn">APPLY NOW</a>
              </div>
            </div>
          
            <div class="program-right">
              <div class="info-box">
                <h4>Duration</h4>
                <p>6 months</p>
              </div>
              <div class="info-box">
                <h4>Work Ex</h4>
                <p>0 years</p>
              </div>
              <div class="info-box">
                <h4>Starting Date</h4>
                <p>15th May 2025</p>
              </div>
              <div class="info-box">
                <h4>Admissions: Round 2 Deadline</h4>
                <p>10th May 2025</p>
              </div>
              <div class="info-box">
                <h4>Location</h4>
                <p>Online (Live Sessions) + Real-Time Project Work</p>
              </div>
              <div class="info-box">
                <h4>Format</h4>
                <p>Full Time / Part Time (Flexible Learning Mode)</p>
              </div>
            </div>
          </section>
          <form action="/program/login" method="get">
            <button class="btn btn-success m-3">Bimfrox Batch o.1</button>
          </form>
    </body>