<%- layout("/layouts/boilerplate.ejs") %>

<body>
    <h2 style="margin-top: 100px; text-align: center;">Program Form</h2>

  <form action="/program" method="post" class="row mb-5">
    <div class="col-4 offset-4">
        <label for="userid" class="form-label"></label>
        <input type="text" id="userid" name="userid" class="form-control"  placeholder="Enter user id" required />
    </div>
    <div class="col-4 offset-4">
        <label for="password" class="form-label"></label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Enter password" required />
    </div>
    <div class="col-4 offset-4 mt-4">
        <button class="btn btn-success">Submit</button>
    </div>
  </form>
  </div>
</body>
