<%- layout("/layouts/boilerplate.ejs") %>

<body>

<!-- =====================project section ================== -->
<section class="projects-container">
    <div class="projects-content">
        <h1>Our Projects</h1>
        <p>Explore our latest work and see how we bring ideas to life.</p>

        <div class="projects-grid">
            <div class="project-card" style="background-color: #FFE8C7;">
                <img src="/images/pro01.png" style="background-color: #4e4942;" alt="Blog Website">
                <h3>India Explorer Blog</h3>
                <p>A comprehensive blog website that explores the best travel destinations in India.</p>
                <a href="https://goodguyrahuls.github.io/Namobharat/index.html" class="project-btn">View
                    Details</a>
            </div>

            <div class="project-card" style="background-color: #C6FBD8;">
                <img src="/images/pro02.png" alt="Pizza Shop Website">
                <h3>E-Commerce Pizza Shop</h3>
                <p>An online pizza ordering platform with integrated backend for seamless delivery service.</p>
                <a href="https://goodguyrahuls.github.io/pizza.hub/" class="project-btn">View Details</a>
            </div>

            <div class="project-card" style="background-color: #F0F7B5;">
                <img src="/images/pro03.png" alt="Ambulance Assistance">
                <h3>Ambulance Life Assist</h3>
                <p>A fast-response ambulance assistance app designed to provide emergency medical support.</p>
                <a href="https://goodguyrahuls.github.io/Life-Assist/index.html" class="project-btn">View
                    Details</a>
            </div>
        </div>
    </div>
</section>
 

    <!-- JavaScript for Toggle Menu -->
    <script src="script.js"></script>
</body>

</html>