<%- layout("/layouts/boilerplate.ejs") %>

<body>

<section class="servicepage01">
    <div class="servicepagedata01 container" >
        <div class="servicepagetext">
            <h1>Boost Your Business with Web Development, Branding & AI Solutions</h1>
            <p>At BIMFROX, we help businesses grow digitally through stunning websites, smart branding, AI tools, and creative online strategies.</p>
            <button type="button" class="servicebtn btn  btn-sm"><a href="/frox/contact">Play Now</a></button>
        </div>
        <div class="servicepageimg">
            <img src="\images\home0001.jpeg" alt="">
        </div>
        
    </div>
</section>


<!-- JavaScript for Toggle Menu -->
<script src="script.js"></script>
</body>

</html>